$fabled: #666666;
$loric: #666666;
$townsfolk: #4e7aff;
$outsider: #555555;
$minion: #444444;
$demon: #cc3333;
$traveller: #666666;


$gold: #d4af37;
$purple: #663399;
$dark-purple: #2d1b4e;
$crimson: #dc143c;
$parchment: #f4e8d0;
